In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy

In [2]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [3]:
# Create a practice set of random latitude and longitude combinations.
x = [25.12903645, 25.92017388, 26.62509167, -59.98969384, 37.30571269]
y = [-67.59741259, 11.09532135, 74.84233102, -76.89176677, -61.13376282]
coordinates = zip(x, y)

In [4]:
# Use the tuple() function to display the latitude and longitude combinations.
#for coordinate in coordinates:
   # print(coordinate[0], coordinate[1])

In [5]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=20)
lngs = np.random.uniform(low=-180.000, high=180.000, size=20)
lat_lngs = list(zip(lats, lngs))
lat_lngs

[(2.330846995013758, 87.01089313490485),
 (49.802744091858585, 41.193362303080335),
 (-83.89086118110734, -93.40965849567482),
 (-87.00605581011156, -22.08855782858754),
 (61.76851634295778, -44.528901139403615),
 (1.3158120150406631, 51.18230301846822),
 (84.96738412297304, 53.27786500208538),
 (43.19358455179369, 60.68883416373225),
 (-54.54123288996671, 161.68819824231554),
 (25.492882980155528, 50.79762086880069),
 (-43.113061225591764, -176.48142744665995),
 (86.68718517344107, -124.22400157645001),
 (-7.446863403079547, 130.13504039571586),
 (-36.56407590100405, 56.371969188189496),
 (-77.05402798866808, 166.81998805411132),
 (-77.25267501024962, 60.453155749600455),
 (-83.43743377972208, -88.2264780621799),
 (15.646020077467597, 34.952196885853255),
 (34.68641013740108, -174.5934519544184),
 (34.626139546280015, 159.3623960755886)]

In [6]:
#Add latitude and longtitude to a list 
coordinates = list(lat_lngs)

In [7]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name
    
    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

18

In [8]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
          citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

hambantota lk
kazanskaya ru
punta arenas cl
ushuaia ar
nanortalik gl
hobyo so
belushya guba ru
karauzyak uz
tuatapere nz
umm bab qa
vaini to
tuktoyaktuk ca
tual id
taolanaro mg
bluff nz
taolanaro mg
punta arenas cl
wagar sd
kapaa us
sentyabrskiy ru

In [9]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=9f8ef6dc1bf981148feb6bde415e01a6

In [10]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
print(city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=9f8ef6dc1bf981148feb6bde415e01a6&q=Boston

In [11]:
# Make a 'Get' request for the city weather.
city_weather = requests.get(city_url)
city_weather

In [12]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
city_weather

In [13]:
# Get the text of the 'Get' request.
city_weather.text

'{"coord":{"lon":-71.06,"lat":42.36},"weather":[{"id":801,"main":"Clouds","description":"few clouds","icon":"02d"}],"base":"stations","main":{"temp":44.47,"feels_like":31.51,"temp_min":42.01,"temp_max":46.99,"pressure":1019,"humidity":24},"visibility":16093,"wind":{"speed":12.75,"deg":280,"gust":21.92},"clouds":{"all":20},"dt":1582401883,"sys":{"type":1,"id":3486,"country":"US","sunrise":1582371094,"sunset":1582410262},"timezone":-18000,"id":4930956,"name":"Boston","cod":200}'

In [14]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
if city_weather.status_code == 200:
    print(f"City Weather found.")
else:
    print(f"City weather not found.")

City Weather found.

In [15]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Bston"
city_weather = requests.get(city_url)
if city_weather.json():
    print(f"City Weather found.")
else:
    print(f"City weather not found.")

City Weather found.

In [16]:
print(city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=9f8ef6dc1bf981148feb6bde415e01a6&q=Bston

In [17]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
city_weather.json()

{'coord': {'lon': -71.06, 'lat': 42.36},
 'weather': [{'id': 801,
   'main': 'Clouds',
   'description': 'few clouds',
   'icon': '02d'}],
 'base': 'stations',
 'main': {'temp': 44.47,
  'feels_like': 31.51,
  'temp_min': 42.01,
  'temp_max': 46.99,
  'pressure': 1019,
  'humidity': 24},
 'visibility': 16093,
 'wind': {'speed': 12.75, 'deg': 280, 'gust': 21.92},
 'clouds': {'all': 20},
 'dt': 1582401883,
 'sys': {'type': 1,
  'id': 3486,
  'country': 'US',
  'sunrise': 1582371094,
  'sunset': 1582410262},
 'timezone': -18000,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [18]:
# Get the JSON data.
boston_data = city_weather.json()

In [19]:
lat = boston_data["coord"]["lat"]
lng = boston_data["coord"]["lon"]
max_temp = boston_data["main"]["temp_max"]
humidity = boston_data["main"]["humidity"]
clouds = boston_data["clouds"]["all"]
wind = boston_data["wind"]["speed"]
print(lat, lng, max_temp, humidity, clouds, wind)

42.36 -71.06 46.99 24 20 12.75

In [20]:
# Import the datetime module from the datetime library.
from datetime import datetime
# Get the date from the JSON file.
date = boston_data["dt"]
# Convert the UTC date to a date format with year, month, day, hours, minutes, and seconds.
datetime.utcfromtimestamp(date)

datetime.datetime(2020, 2, 22, 20, 4, 43)

In [21]:
datetime.utcfromtimestamp(date).strftime('%Y-%m-%d %H:%M:%S')

'2020-02-22 20:04:43'

In [22]:
# Import the datetime module from the datetime library.
from datetime import datetime

In [23]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in our list.
for i in range(len(cities)):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + "i"
    
    # Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
    
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | hambantota
Processing Record 2 of Set 1 | kazanskaya
Processing Record 3 of Set 1 | punta arenas
Processing Record 4 of Set 1 | ushuaia
Processing Record 5 of Set 1 | nanortalik
Processing Record 6 of Set 1 | hobyo
Processing Record 7 of Set 1 | belushya guba
City not found. Skipping...
Processing Record 8 of Set 1 | karauzyak
City not found. Skipping...
Processing Record 9 of Set 1 | tuatapere
Processing Record 10 of Set 1 | umm bab
Processing Record 11 of Set 1 | vaini
Processing Record 12 of Set 1 | tuktoyaktuk
Processing Record 13 of Set 1 | tual
Processing Record 14 of Set 1 | taolanaro
City not found. Skipping...
Processing Record 15 of Set 1 | bluff
Processing Record 16 of Set 1 | wagar
Processing Record 17 of Set 1 | kapaa
Processing Record 18 of Set 1 | sentyabrskiy
City not found. Skipping...
-----------------------------
Data Retrieval Complete
-----------------------------

In [24]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Hambantota,6.12,81.12,79.25,83,100,22.68,LK,2020-02-22 20:04:12
1,Kazanskaya,45.41,40.44,42.67,88,100,4.63,RU,2020-02-22 20:06:05
2,Punta Arenas,-53.15,-70.92,75.20,38,100,23.04,CL,2020-02-22 20:06:05
3,Ushuaia,-54.80,-68.30,69.80,46,40,4.70,AR,2020-02-22 20:04:49
4,Nanortalik,60.14,-45.24,27.57,89,100,17.90,GL,2020-02-22 20:06:05
5,Hobyo,5.35,48.53,76.69,77,75,14.90,SO,2020-02-22 20:05:24
6,Tuatapere,-46.13,167.68,55.99,80,32,8.01,NZ,2020-02-22 20:04:20
7,Umm Bab,25.21,50.81,69.01,82,1,4.32,QA,2020-02-22 20:04:27
8,Vaini,-21.20,-175.20,77.00,94,75,6.93,TO,2020-02-22 20:03:36
9,Tuktoyaktuk,69.45,-133.04,5.00,77,90,6.93,CA,2020-02-22 20:03:47

In [25]:
#Reorder Columns 
new_column_order = ["City","Country", "Date", "Lat","Lng","Max Temp","Humidity","Cloudiness","Wind Speed"]
city_data_df = city_data_df[new_column_order]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Hambantota,LK,2020-02-22 20:04:12,6.12,81.12,79.25,83,100,22.68
1,Kazanskaya,RU,2020-02-22 20:06:05,45.41,40.44,42.67,88,100,4.63
2,Punta Arenas,CL,2020-02-22 20:06:05,-53.15,-70.92,75.20,38,100,23.04
3,Ushuaia,AR,2020-02-22 20:04:49,-54.80,-68.30,69.80,46,40,4.70
4,Nanortalik,GL,2020-02-22 20:06:05,60.14,-45.24,27.57,89,100,17.90
5,Hobyo,SO,2020-02-22 20:05:24,5.35,48.53,76.69,77,75,14.90
6,Tuatapere,NZ,2020-02-22 20:04:20,-46.13,167.68,55.99,80,32,8.01
7,Umm Bab,QA,2020-02-22 20:04:27,25.21,50.81,69.01,82,1,4.32
8,Vaini,TO,2020-02-22 20:03:36,-21.20,-175.20,77.00,94,75,6.93
9,Tuktoyaktuk,CA,2020-02-22 20:03:47,69.45,-133.04,5.00,77,90,6.93

In [27]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")